@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Poppins:wght@300;400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  font-size: 2rem;
}

main {
  max-width: 120rem;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  .login-pic,
  .login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 36rem;
    padding: 2rem;
  }
}

form {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  h1 {
    color: #333;
    font-size: 3.6rem;
    font-weight: 700;
    transition: 0.3s all ease;
    &:hover {
      transform: scale(1.2);
    }
  }
  input,
  button {
    width: 100%;
    padding: 1rem;
    border-radius: 0.6rem;
    font-family: "Montserrat", sans-serif;
    transition: 0.3s all ease;
    &:focus-visible {
      background-color: #e3fafc;
      box-shadow: 0 1.2rem 2.4rem rgba(0, 0, 0, 0.6);
      color: #23a6d5;
      font-family: "Poppins", sans-serif;
    }
  }

  .email-validate,
  .password-validate,
  .passwordComparison-validate {
    display: none;
  }

  .email-validate.error,
  .password-validate.error,
  .passwordComparison-validate.error,
  .fullName-validate.error {
    display: block;
    color: #fff;
    font-size: 1.4rem;
  }

  button {
    &:hover {
      cursor: pointer;
      transform: scale(0.98);
    }
  }
  .signup-link,
  .login-button {
    font-size: 2rem;
    color: #333;
    text-decoration: none;
    transition: 0.3s all ease;
  }

  .signup-link {
    &:hover {
      transform: scale(1.2);
    }
  }

  .signup-button {
    font-size: 2rem;
    color: #333;
    text-decoration: none;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
